{% extends '@MaksiCompanyMaksiBundle/base.html.twig' %}

        {% block content %}
            <div class="posts">
                <ul class="nav nav-pills navbar-inverse">
                    <li class="active"><a href="#">Post1</a></li>
                    <li><a href="#">Post2</a></li>
                    <li><a href="#">Post3</a></li>
                    <li><a href="#">Post4</a></li>
                    <li><a href="#">Post5</a></li>
                    <li><a href="#">Post6</a></li>
                    <li><a href="#">Post7</a></li>
                    <li><a href="#">Post8</a></li>
                    <li><a href="#">Post9</a></li>
                    <li><a href="#">Post10</a></li>
                </ul>
            </div>
        {% endblock content %}
