.main-base {
  .posts {
    .nav {
      border: 2px solid #218BC3;
      width: 100%;
      height: 400px;
      padding: 10px;
    }
  }
}

.task {
  color: #fff;
}

.main-form {
  background: #76767d;
}