{% extends '@MaksiCompanyMaksi/base/base.html.twig' %}

        {% block content %}
            <div class="posts">
                <ul class="nav nav-pills navbar-inverse">
                    <h1 style="color: #fff">Author</h1>
                </ul>
            </div>
        {% endblock content %}
