{% extends '@MaksiCompanyMaksi/base/base.html.twig' %}

        {% block content %}
            <div class="post">
                <ul class="nav nav-pills navbar-inverse" style="color: #fff">
                    <li class="active" style="float: none"><a href="#">Title</a></li>
                    <li style="float: none; padding: 10px">Lorem ipsum dolor sit amet.</li>
                    <li style="float: none; padding: 10px"
                    ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus ea
                    magni quod. Dolorem ipsa nobis recusandae similique tempore vitae.
                    </li>
                    <li style="float: none"><img src="https://avatars1.githubusercontent.com/u/2575237?s=200&v=4"
                                                 alt=""></li>
                </ul>
            </div>


        {% endblock content %}


